:root {
  --primary-font: 'Roboto', sans-serif;
  --navyblue: #2e2f42;
  --white: #ffffff;
  --iris: #4d5ae5;
  --slate: #434455;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --lightslate: #121536;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--slate);
  text-decoration: none;
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

/* Header */
.container {
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.link {
  text-decoration: none;
}

.logo-item {
  color: var(--navyblue);
}

.nav-list {
  display: none;
}

.header-address {
  display: none;
}

.mobile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .logo {
    margin-right: 120px;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: 40px;
    list-style-type: none;
  }

  .header-address {
    display: block;
  }

  .nav-list .item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    padding-top: 24px;
    padding-right: 0;
    padding-bottom: 24px;
    padding-left: 0;
    display: block;
  }

  .nav-list .item:hover,
  .nav-list .item:focus {
    color: var(--ocean);
  }

  .nav-list .current {
    color: var(--ocean);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-list .current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
  }

  .header-address {
    font-style: normal;
  }

  .address-list .mail-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-list .mail-tel:hover,
  .address-list .mail-tel:focus {
    color: var(--ocean);
  }

  .address-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .address-list {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .logo {
    margin-right: 76px;
  }
}

/* Section 1 */
.primary-section {
  max-width: 428px;
  padding: 112px 0;
  margin: 0 auto;
  background-color: var(--navyblue);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mobile-1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .primary-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mobile-2x.jpg);
  }
}

.primary-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--white);
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.primary-button {
  background-color: var(--iris);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .primary-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tablet-1x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .primary-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tablet-2x.jpg);
    }
  }

  .primary-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}

@media screen and (min-width: 1158px) {
  .primary-section {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .primary-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }

  .primary-title {
    margin: 0 auto 48px;
  }
}

/* Section 2 */

.second-section {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.second-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  row-gap: 72px;
}

.icons-two {
  display: none;
}

.list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
  text-transform: capitalize;
  text-align: center;
  align-self: stretch;
}

@media screen and (min-width: 768px) {
  .second-list {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .second-item {
    width: calc((100% - 24px) / 2);
  }

  .icons-two {
    display: none;
  }

  .list-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .second-section {
    padding: 120px 0;
  }

  .second-list {
    align-items: center;
    gap: 24px;
  }

  .second-item {
    width: calc((100% - 72px) / 4);
  }

  .icons-two {
    display: flex;
    background-color: var(--cloud, #f4f4fd);
    padding: 24px 100px;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
  }

  .list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }
}

/* Section 3 */

@media (max-width: 1157px) {
  .third-section {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .third-section {
    padding-bottom: 120px;
  }

  .third-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue);
    margin-bottom: 72px;
  }

  .third-list {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
  }

  .third-item {
    width: calc((100% - 48px) / 3);
  }
}

/* Section 4 */

.fourth-section {
  background-color: var(--cloud);
  padding: 96px 0;
}

.fourth-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
  font-weight: 700;
}

.fourth-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.fourth-item {
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.teammate {
  padding: 32px 0;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 8px;
}

.position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  text-align: center;
  margin-bottom: 8px;
}

.social-media {
  list-style: none;
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--iris, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--ocean);
}

.icon-four {
  fill: var(--cloud);
}

@media screen and (min-width: 768px) {
  .fourth-list {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .fourth-section {
    padding: 120px 0;
  }

  .fourth-list {
    flex-wrap: nowrap;
  }

  .fourth-item {
    width: calc((100% - 72px) / 4);
  }
}

/* Section 5 */

.fifth-section {
  padding: 96px 0;
}

.fifth-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.fifth-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.fifth-list-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.fifth-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate, #8e8f99);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fifth-link:hover,
.fifth-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.icon-five {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .fifth-list {
    column-gap: 24px;
    max-width: 584px;
    margin: 0 auto;
  }

  .fifth-list-item {
    width: calc((100% - 48px) / 3);
  }
}

@media screen and (min-width: 1158px) {
  .fifth-section {
    padding: 120px 0;
  }

  .fifth-list {
    gap: 24px;
    max-width: 1158px;
  }

  .fifth-list-item {
    width: calc((100% - 120px) / 6);
  }
}

/* Footer */
.page-footer {
  background-color: var(--navyblue);
  padding: 96px 0;
}

.logo-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.link {
  text-decoration: none;
}

.page-footer .link {
  display: inline-block;
  margin-bottom: 16px;
}

.page-footer .logo-item {
  color: var(--cloud);
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}

.footer-social-media {
  list-style: none;
  display: flex;
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.social-media-container {
  margin-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-icons {
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons:hover,
.footer-icons:focus {
  background-color: #31d0aa;
}

.icon-footer {
  fill: var(--cloud);
}

.footer-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: baseline;
    column-gap: 24px;
    max-width: 582px;
  }

  .logo-and-text {
    align-items: normal;
  }

  .social-media-container {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }

  .footer-text {
    margin: 0;
  }

  .footer-social-media {
    list-style: none;
    display: flex;
    gap: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }

  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    max-width: 1158px;
    column-gap: 0;
    row-gap: 0;
  }

  .logo-and-text {
    margin-right: 120px;
    margin-bottom: 0;
    align-items: flex-start;
  }

  .social-media-container {
    margin-right: 80px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

/* Footer subscription form */
.form-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
  text-align: center;
}

.input-form {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  background-color: transparent;
  color: var(--white, #fff);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.input-form::placeholder {
  color: var(--white);
}

.input-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
  cursor: pointer;
  height: 40px;
  padding: 0;
  margin: 16px auto 0 auto;
}

.input-button:hover,
.input-button:focus {
  background-color: var(--ocean);
}

.submit-icon {
  fill: var(--white);
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .form-text {
    text-align: start;
  }

  .subscription-form {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    gap: 24px;
  }

  .input-form {
    width: 264px;
    padding: 8px 16px;
    margin-bottom: 0;
  }

  .input-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
}

/* Modal window */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 392px;
  width: 100%;
  min-height: 584px;
  padding: 72px 16px 24px 16px;
  transform: translate(-50%, -50%) scale(1);
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--ocean);
  border: none;
}

.icon-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .icon-modal,
.modal-button:focus .icon-modal {
  fill: #ffffff;
}

.modal-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-container {
  margin-bottom: 8px;
}

.modal-form {
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.input-icon {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04px;
}

.modal-input:focus {
  border-color: var(--iris);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.modal-input:focus + .modal-icon {
  fill: var(--iris);
}

.comment-container {
  margin-bottom: 16px;
}

.comment-area {
  width: 100%;
  height: 120px;
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area:focus {
  border-color: var(--iris);
}

.comment-label {
  display: block;
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-container {
  margin-bottom: 24px;
}

.privacy-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.comment-input:checked + .comment-label > .privacy-item {
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}

.privacy-link {
  color: var(--iris, #4d5ae5);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}

.btn {
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  display: block;
  cursor: pointer;
  color: var(--white, #fff);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  background-color: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
  border: none;
}

@media screen and (min-width: 768px) {
  .modal-window {
    padding: 72px 24px 24px 24px;
    width: 408px;
  }
}

img {
  display: block;
}

/**
  |============================
  | Start menu
  |============================
*/
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-icon {
  stroke: var(--navyblue);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}
.container-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 428px;
  height: 100%;
  padding: 80px 35px 40px 40px;
  margin: 0 auto;
  overflow-y: auto;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin-bottom: auto;
  list-style: none;
}

.mobile-menu .link {
  display: block;
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02;
  text-transform: capitalize;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu .link:hover,
.mobile-menu .link:focus {
  color: var(--ocean);
}

.close-button-icon {
  width: 8px;
  height: 8px;
  stroke: var(--navy-blue);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--ocean);
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
  fill: var(--white);
}

.mobile-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-address {
  margin-bottom: 48px;
}

.item-mobile {
  color: var(--iris, #4d5ae5);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-style: normal;
}

@media screen and (max-width: 428px) {
  .item-mobile {
    font-size: 21px;
  }
}

.mobile-item {
  color: var(--slate, #434455);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.modal-social-media {
  display: inline-flex;
  justify-content: space-between;
}

/* Portfolio */

@media screen and (min-width: 1158px) {
  .portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }

  .portfolio-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    background-color: var(--cloud);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-button:hover,
  .portfolio-button:focus {
    color: var(--white);
    background-color: var(--ocean);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .image-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .portfolio-image {
    width: calc((100% - 48px) / 3);
  }

  .link {
    text-decoration: none;
  }

  .portfolio-app {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-app:hover,
  .portfolio-app:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
  }

  .picture {
    position: relative;
    overflow: hidden;
  }

  .portfolio-app:hover .app-back,
  .portfolio-app:focus .app-back {
    transform: translateY(0);
  }

  .app-back {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: var(--iris);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }

  .portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue);
    margin-bottom: 8px;
  }

  .portfolio-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
  }

  .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    margin-bottom: 17px;
  }
}
